<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>

    <div class="main-content">
         {{>header}}
         <p>This website was create by Nitesh kumar.</p>
           <p>It uses data from matchbox.com and weatherstack.com.</p>

        <img class="potrait" src="/img/pic.jpg">

    </div>
   

    {{>footer}}
    
</body>
</html>